In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import csv
import seaborn as sns
%matplotlib inline

# <center> Objectives </center>
1. Using pandas, display the first 20 rows of TP2-Covid10.csv file.
2. Using pandas, display the “libelle_reg” starting with “P”.
3. Using pandas, display the “taux_occupation_sae” > 50.
4. Calculate the mean, min and max of taux_occupation_sae.
5. Calculate the mean, min and max of tx_incid.
6. Write the results of (4) and (5) in a csv file named TP2-Covid19-stat.csv.
7. Using DictReader: display all the values for “taux_occupation_sae_couleur”=”rouge” (red
regions).
8. Using DictReader: display the columns: extract_date, region, libelle_dep, and tx_incid, for
“taux_occupation_sae_couleur”=”rouge” (red regions).
9. Using DictReader: display the regions and libelle_dep having “nb_rouge”==’3’.
10.Using pandas and the function unique(), display the unique values of regions.
11.Using pandas and the function value_counts(), display how many times the data of each region
has been extracted.
12.Save these results in csv file (“regions.csv”) using the function to_csv().
13.Using pandas and dataframe.query() function, display all the values for
“taux_occupation_sae_couleur”=”rouge” (red regions).
14.Using pandas and dataframe.query() function: display the columns: extract_date, region,
libelle_dep, and tx_incid, for “taux_occupation_sae_couleur”=”rouge” (red regions).
15.Using pandas and dataframe.query() function: display the regions and libelle_dep having
“nb_rouge”==’3’.
16.Using pandas and dataframe.query() function: display the regions and libelle_dep having
“nb_rouge”==’3’ and taux_occupation_sae>=90.

## Loading dataset

In [9]:
df = pd.read_csv('TP2-Covid19.csv')

In [10]:
df.head()

,extract_date,departement,region,libelle_reg,libelle_dep,tx_incid,R,taux_occupation_sae,tx_pos,tx_incid_couleur,R_couleur,taux_occupation_sae_couleur,tx_pos_couleur,nb_orange,nb_rouge
0,2020-03-30,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,104.3,NaN,NaN,NaN,rouge,NaN,0,1
1,2020-03-18,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,6.3,NaN,NaN,NaN,vert,NaN,0,0
2,2020-03-19,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,14.1,NaN,NaN,NaN,vert,NaN,0,0
3,2020-03-20,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,15.6,NaN,NaN,NaN,vert,NaN,0,0
4,2020-03-21,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,15.7,NaN,NaN,NaN,vert,NaN,0,0

In [11]:
df.shape

(28078, 15)

## Cleaning Data

In [12]:
df.dropna(how='all', inplace=True)

In [13]:
df.shape

(28078, 15)

## Objective 1
### Using pandas, display the first 20 rows of TP2-Covid10.csv file.

In [19]:
first_20_row = df.head(20)
first_20_row

,extract_date,departement,region,libelle_reg,libelle_dep,tx_incid,R,taux_occupation_sae,tx_pos,tx_incid_couleur,R_couleur,taux_occupation_sae_couleur,tx_pos_couleur,nb_orange,nb_rouge
0,2020-03-30,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,104.3,NaN,NaN,NaN,rouge,NaN,0,1
1,2020-03-18,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,6.3,NaN,NaN,NaN,vert,NaN,0,0
2,2020-03-19,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,14.1,NaN,NaN,NaN,vert,NaN,0,0
3,2020-03-20,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,15.6,NaN,NaN,NaN,vert,NaN,0,0
4,2020-03-21,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,15.7,NaN,NaN,NaN,vert,NaN,0,0
5,2020-03-22,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,19.0,NaN,NaN,NaN,vert,NaN,0,0
6,2020-03-23,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,28.1,NaN,NaN,NaN,vert,NaN,0,0
7,2020-03-24,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,34.0,NaN,NaN,NaN,orange,NaN,1,0
8,2020-03-25,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,46.2,NaN,NaN,NaN,orange,NaN,1,0
9,2020-03-26,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,51.9,NaN,NaN,NaN,orange,NaN,1,0
10,2020-03-27,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,61.5,NaN,NaN,NaN,rouge,NaN,0,1
11,2020-03-28,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,77.3,NaN,NaN,NaN,rouge,NaN,0,1
12,2020-03-29,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,88.9,NaN,NaN,NaN,rouge,NaN,0,1
13,2020-04-25,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,79.4,NaN,NaN,NaN,rouge,NaN,0,1
14,2020-04-26,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,78.5,NaN,NaN,NaN,rouge,NaN,0,1
15,2020-04-27,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,77.5,NaN,NaN,NaN,rouge,NaN,0,1
16,2020-04-28,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,72.6,NaN,NaN,NaN,rouge,NaN,0,1
17,2020-04-29,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,68.5,NaN,NaN,NaN,rouge,NaN,0,1
18,2020-04-30,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,66.4,NaN,NaN,NaN,rouge,NaN,0,1
19,2020-05-01,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,64.2,NaN,NaN,NaN,rouge,NaN,0,1

## Objective 2
### Using pandas, display the “libelle_reg” starting with “P”

In [18]:
libelle_regs_start_with_p = df[df['libelle_reg'].str.startswith('P')]
libelle_regs_start_with_p.head()

,extract_date,departement,region,libelle_reg,libelle_dep,tx_incid,R,taux_occupation_sae,tx_pos,tx_incid_couleur,R_couleur,taux_occupation_sae_couleur,tx_pos_couleur,nb_orange,nb_rouge
25020,2020-04-04,44,52,Pays de Loire,Loire-Atlantique,NaN,NaN,96.7,NaN,NaN,NaN,rouge,NaN,0,1
25021,2020-04-14,44,52,Pays de Loire,Loire-Atlantique,NaN,NaN,85.6,NaN,NaN,NaN,rouge,NaN,0,1
25022,2020-04-15,44,52,Pays de Loire,Loire-Atlantique,NaN,NaN,80.1,NaN,NaN,NaN,rouge,NaN,0,1
25023,2020-04-16,44,52,Pays de Loire,Loire-Atlantique,NaN,NaN,75.1,NaN,NaN,NaN,rouge,NaN,0,1
25024,2020-04-17,44,52,Pays de Loire,Loire-Atlantique,NaN,NaN,72.4,NaN,NaN,NaN,rouge,NaN,0,1

## Objective 3
### Using pandas, display the “taux_occupation_sae” > 50

In [22]:
taux_occupation_saes_more_than_50 = df[df['taux_occupation_sae'] > 50]
taux_occupation_saes_more_than_50.head()

,extract_date,departement,region,libelle_reg,libelle_dep,tx_incid,R,taux_occupation_sae,tx_pos,tx_incid_couleur,R_couleur,taux_occupation_sae_couleur,tx_pos_couleur,nb_orange,nb_rouge
0,2020-03-30,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,104.3,NaN,NaN,NaN,rouge,NaN,0,1
9,2020-03-26,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,51.9,NaN,NaN,NaN,orange,NaN,1,0
10,2020-03-27,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,61.5,NaN,NaN,NaN,rouge,NaN,0,1
11,2020-03-28,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,77.3,NaN,NaN,NaN,rouge,NaN,0,1
12,2020-03-29,01,84,Auvergne Rhône Alpes,Ain,NaN,NaN,88.9,NaN,NaN,NaN,rouge,NaN,0,1

## Objective 4
### Calculate the mean, min and max of taux_occupation_sae

In [27]:
taux_occupation_sae_describe = df['taux_occupation_sae'].describe()
taux_occupation_sae_mean = taux_occupation_sae_describe['mean']
taux_occupation_sae_min = taux_occupation_sae_describe['min']
taux_occupation_sae_max = taux_occupation_sae_describe['max']
print(f'Details of taux_occupation_sae Column: mean: {taux_occupation_sae_mean}, min: {taux_occupation_sae_min}, max: {taux_occupation_sae_max}')

Details of taux_occupation_sae Column: mean: 38.86416055274614, min: 0.0, max: 266.7

## Objective 5
### Calculate the mean, min and max of tx_incid

In [29]:
tx_incid_mean = df['tx_incid'].mean()
tx_incid_min = df['tx_incid'].min()
tx_incid_max = df['tx_incid'].max()
print(f'Details of tx_incid Column: mean: {tx_incid_mean}, min: {tx_incid_min}, max: {tx_incid_max}')

Details of tx_incid Column: mean: 93.83082463040839, min: 0.0, max: 1211.66

## Objective 6
### Write the results of (4) and (5) in a csv file named TP2-Covid19-stat.csv

In [39]:
datas = {
    'taux_occupation_sae_mean': [taux_occupation_sae_mean],
    'taux_occupation_sae_min' : [taux_occupation_sae_min],
    'taux_occupation_sae_max' : [taux_occupation_sae_max],
    'tx_incid_mean': [tx_incid_mean],
    'tx_incid_min': [tx_incid_min],
    'tx_incid_max': [tx_incid_mean]
}
TP2_Covid19_stat = pd.DataFrame(datas)
TP2_Covid19_stat.to_csv('TP2-Covid19-stat.csv')

In [40]:
pd.read_csv('TP2-Covid19-stat.csv')

,Unnamed: 0,taux_occupation_sae_mean,taux_occupation_sae_min,taux_occupation_sae_max,tx_incid_mean,tx_incid_min,tx_incid_max
0,0,38.864161,0.0,266.7,93.830825,0.0,93.830825

## Objective 7
### Using DictReader: display all the values for “taux_occupation_sae_couleur”=”rouge” (red regions)

In [54]:
with open('TP2-Covid19.csv') as csvfile:
    df_dict_reader = list(csv.DictReader(csvfile))

In [55]:
def only_answers(row):
    return 'rouge' in row.values()

dict_reader_filter = []
for row in filter(only_answers, df_dict_reader):
    dict_reader_filter.append(row)

In [56]:
len(dict_reader_filter)

13046

## Objective 8
### Using DictReader: display the columns: extract_date, region, libelle_dep, and tx_incid, for “taux_occupation_sae_couleur”=”rouge” (red regions)

## Objective 9
### Using DictReader: display the regions and libelle_dep having “nb_rouge”==’3’

## Objective 10
### Using pandas and the function unique(), display the unique values of regions

## Objective 11
### Using pandas and the function value_counts(), display how many times the data of each region has been extracted

## Objective 12
### Save these results in csv file (“regions.csv”) using the function to_csv().

## Objective 13
### Using pandas and dataframe.query() function, display all the values for “taux_occupation_sae_couleur”=”rouge” (red regions)

## Objective 14
### Using pandas and dataframe.query() function: display the columns: extract_date, region, libelle_dep, and tx_incid, for “taux_occupation_sae_couleur”=”rouge” (red regions).

## Objective 15
### Using pandas and dataframe.query() function: display the regions and libelle_dep having “nb_rouge”==’3’

## Objective 16
### Using pandas and dataframe.query() function: display the regions and libelle_dep having “nb_rouge”==’3’ and taux_occupation_sae>=90